<DOCTYPE html> 
    <html lang="en">
    
    <head>
      <meta charset="UTF-8" />
      <title>Chazam | Main Page</title>
      {% load static %} 
      <link rel="icon" href="{% static 'Pictures/chazamIcon.ico' %}" /><!--Pone el ícono de la página en el navegador-->
      <link href="{% static 'styles.css' %}" rel="stylesheet"><!--LLama la hoja de estilos de CSS-->
      <script src="{% static 'script.js' %}"></script><!--LLama el archivo de JavaScript-->
    </head>
    
    <body>        
      {% load socialaccount %} {% providers_media_js %} {% load i18n %}
      <main>
        <div class="header-Box">
          <div class ="title-Box">
            <a class = "mainPage-Link" href="/">
              <img src="{% static 'Pictures/chazamLogo2.png' %}" class="Chazam-logo2" alt="Chazam logo" />
              <p class = "mainPage-title">Chazam</p>
            </a>
            <p class = "mainPage-subtitle">Sistema de información de chazas
              en la Universidad Nacional de Colombia</p>
          </div>
          <div class = "user-Box" onclick= "showPopUp('logOutBox')">
            <img src="{% static 'Pictures/userIcon.png' %}" class="user-icon" alt="user Icon" />
          </div>
          <div class= "logout-Box" id = "logOutBox">
            {% if user_is_owner %}
            <a href="/uploadChazaInfo/">
              <p class ="logout-Text">Cargar/editar chaza</p>
            </a>
            {% endif %}
            <a href="/accounts/logout/">
              <p class ="logout-Text">Cerrar sesión</p>
            </a>
          </div>
        </div>
        <div class="function-Container">
          <div class="catalogo-Button" >
            <a href="catalogo/">
              <img src="{% static 'Pictures/catalogoLogo.png' %}" class="mainPage-Icon" alt="Catalogo" href="catalogo/"/>
              <p class = "mainPage-ButtonTitle">Catalogo de Chazas</p>
            </a>
          </div>
          <div class="mapa-Button">
            <a href="mapa/">
              <img src="{% static 'Pictures/mapaLogo.png' %}" class="mainPage-Icon" alt="Mapa" />
              <p class = "mainPage-ButtonTitle">Mapa Interactivo</p>
            </a>
          </div>
          <div class="ranking-Button">
            <a href="ranking/">
              <img src="{% static 'Pictures/rankingLogo.png' %}" class="mainPage-Icon" alt="Ranking" />
              <p class = "mainPage-ButtonTitle">Ranking de Chazas</p>
            </a>
          </div>
        </div>
      </main>

      <footer>
        <div class = "footer-Content">
          <p class = "footer-Text">Desarrollado por</p>
          <img src="{% static 'Pictures/milhojasLogo.png' %}" class="Milhojas-logo" alt="Milhojas logo" />
        </div>
      </footer>

    </body>
  </html>