<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% load static %} 
    <link href="{% static 'styles.css' %}" rel="stylesheet"><!--LLama la hoja de estilos de CSS-->
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <main>
    {% block body %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </main>
    <footer>
      <div class = "footer-Content">
        <p class = "footer-Text">Desarrollado por</p>
        <img src="{% static 'Pictures/milhojasLogo.png' %}" class="Milhojas-logo" alt="Milhojas logo" />
      </div>
    </footer>
  </body>
</html>